<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <nav>
    <a href="/products/new">Add a New Product</a>
  </nav>
  <h1>Products</h1>
  <ul>
    <% products.forEach(product=> { %>
      <li>
        <a href="/products/<%=product._id %>">
          <img src=<%=product.img%> %>
        </a>
      </li>
      <% }) %>
  </ul>
</body>

</html>