<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <h1>New Product Page</h1>
  <form action="/products" method="POST">
    Name: <input type="text" name="name" /><br />
    Description: <textarea name="Description" cols="40" rows="5"></textarea><br />
    Image: <input type="text" name="img" /><br />
    Price: <input type="number" name="price" placeholder="0.00" min="0" step="0.01" /><br />
    Qty: <input type="number" name="qty" placeholder="0" min="0" /><br />
    <input type="submit" name="" value="Add Product" />
  </form>
</body>

</html>